<a href="https://colab.research.google.com/github/leonistor/ml-manning/blob/master/05-recommender-systems/SimilarMovies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Finding Similar Movies

## Get datasets from kaggle

In [0]:
# Generate the API token from Kaggle -> My Account -> API
#! echo '{"username":"xxx","key":"yyy"}' > /root/.kaggle/kaggle.json
#! kaggle datasets download -d prajitdatta/movielens-100k-dataset

In [0]:
#! rm /root/.kaggle/kaggle.json

In [0]:
#! unzip -q movielens-100k-dataset.zip
#! ls -lah /content/ml-100k/

## Prepare data

In [21]:
import pandas as pd

# fix read_csv encoding errors:
# get encoding info
# ! file -I ml-100k/u.item
# use in encoding= param
# -- OR --
# import chardet
# with open(r'za_tricky_file.csv', 'rb') as f:
#   result = chardet.detect(f.read()) # or readline if the file is large
# df=pd.read_csv(r'za_tricky_file.csv',encoding=result['encoding'])

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('/content/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3))
m_cols = ['movie_id', 'title']
movies = pd.read_csv('/content/ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding='iso-8859-1')

ratings = pd.merge(movies, ratings)
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [24]:
# create matrix movies x users -> rating
movieRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')
movieRatings.head()

title    'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                             ...
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN
5                              NaN  ...                                 NaN

[5 rows x 1664 columns]

In [27]:
starWarsRatings = movieRatings['Star Wars (1977)']
starWarsRatings.head()

user_id
1    5.0
2    5.0
3    NaN
4    5.0
5    4.0
Name: Star Wars (1977), dtype: float64

In [30]:
# ignore numpy warnings
import warnings
warnings.filterwarnings('ignore')
# build correlation scores of 'Star Wars (1977)' with every other movie
similarMovies = movieRatings.corrwith(starWarsRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(10)

                                            0
title
'Til There Was You (1997)            0.872872
1-900 (1994)                        -0.645497
101 Dalmatians (1996)                0.211132
12 Angry Men (1957)                  0.184289
187 (1997)                           0.027398
2 Days in the Valley (1996)          0.066654
20,000 Leagues Under the Sea (1954)  0.289768
2001: A Space Odyssey (1968)         0.230884
39 Steps, The (1935)                 0.106453
8 1/2 (1963)                        -0.142977

In [34]:
# wtf? no good results
similarMovies.sort_values(ascending=False)

title
No Escape (1994)                          1.0
Man of the Year (1995)                    1.0
Hollow Reed (1996)                        1.0
Commandments (1997)                       1.0
Cosi (1996)                               1.0
                                         ...
Theodore Rex (1995)                      -1.0
I Like It Like That (1994)               -1.0
Two Deaths (1995)                        -1.0
Roseanna's Grave (For Roseanna) (1997)   -1.0
Frankie Starlight (1995)                 -1.0
Length: 1410, dtype: float64

In [37]:
# reject movies only watched by few people

import numpy as np

# count ratings and average(rating) for each movie. pandas rules!
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [57]:
# cutoff for popularity
cutoff = 300

# reject movies watched by fewer than <cutoff> people
popularMovies = movieStats['rating']['size'] >= cutoff
# movieStats[popularMovies].sort([('rating', 'mean')], ascending=False)[:15]
movieStats[popularMovies].sort_values(by=[('rating', 'mean')], ascending=False)[:15]

                                          rating
                                            size      mean
title
Star Wars (1977)                             583  4.358491
Silence of the Lambs, The (1991)             390  4.289744
Godfather, The (1972)                        413  4.283293
Raiders of the Lost Ark (1981)               420  4.252381
Titanic (1997)                               350  4.245714
Empire Strikes Back, The (1980)              367  4.204360
Princess Bride, The (1987)                   324  4.172840
Fargo (1996)                                 508  4.155512
Monty Python and the Holy Grail (1974)       316  4.066456
Pulp Fiction (1994)                          394  4.060914
Fugitive, The (1993)                         336  4.044643
Return of the Jedi (1983)                    507  4.007890
Terminator, The (1984)                       301  3.933555
Indiana Jones and the Last Crusade (1989)    331  3.930514
Full Monty, The (1997)                       315  3.926984

In [58]:
# join the popular movies with our original set of simila movies to Star Wars
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))
df.head()

                                   (rating, size)  (rating, mean)  similarity
title
Air Force One (1997)                          431        3.631090    0.113164
Back to the Future (1985)                     350        3.834286    0.274839
Chasing Amy (1997)                            379        3.839050    0.074536
Contact (1997)                                509        3.803536    0.134962
E.T. the Extra-Terrestrial (1982)             300        3.833333    0.303619

In [59]:
# sort desc by similarity score
df.sort_values(['similarity'], ascending=False)[:15]

                                              (rating, size)  ...  similarity
title                                                         ...
Star Wars (1977)                                         583  ...    1.000000
Empire Strikes Back, The (1980)                          367  ...    0.747981
Return of the Jedi (1983)                                507  ...    0.672556
Raiders of the Lost Ark (1981)                           420  ...    0.536117
Indiana Jones and the Last Crusade (1989)                331  ...    0.350107
E.T. the Extra-Terrestrial (1982)                        300  ...    0.303619
Back to the Future (1985)                                350  ...    0.274839
Terminator, The (1984)                                   301  ...    0.262255
Princess Bride, The (1987)                               324  ...    0.259711
Star Trek: First Contact (1996)                          365  ...    0.255529
Independence Day (ID4) (1996)                            429  ...    0.248754
Willy Wonka and the Chocolate Factory (1971)             326  ...    0.221902
Monty Python and the Holy Grail (1974)                   316  ...    0.207027
Men in Black (1997)                                      303  ...    0.202512
Godfather, The (1972)                                    413  ...    0.189775

[15 rows x 3 columns]

## Activity

In [0]:
# experiment with higher/lower cutoff values